<h1>500</h1>
<h3>That's an error.</h3>
<p>A team of highly trained monkeys has been dispatched to resolve this situation. If you see them, show them this message:</p>
<pre>
{{path}}
{{error}}
</pre>

<script>
  ga('send', 'event', 'error', '500', {useBeacon: true});
  ga('send', 'pageview', {'title': '500'});
</script>
